---
import Layout from '@layouts/Layout.astro';
import {capitalize} from '@/utils'
const gobyexampleUrl = "https://gobyexample.com"
---

<Layout title={capitalize("gobyexample")} description='gobyexample' redirect={gobyexampleUrl}>
  <p>Redirecting to <a href={gobyexampleUrl}>gobyexample.com</a> after 1s...</p>
</Layout>


