---
import Layout from '@layouts/Layout.astro';
const allRoutes = await Astro.glob('./**/*.astro');
import { capitalize } from '@/utils';
---

<Layout title="" description=''>
  <main>
    <hgroup>
      <p> X by Example is hands-on introduction to programming languages using annotated example programs.
      </p>
    </hgroup>
<br/>
    <ul>
    {allRoutes.map((route) => (
      <li><a href={route.url}>{route.url.substring(1) != "go" ? capitalize(route.url.substring(1)): "Golang"}</a></li>
    ))}
    </ul>
  </main>
</Layout>


