---
interface Props {
	title: string;
  description: string;
}

const { title, description } = Astro.props;
const newTitle = title == "" ? "Java by Example": "Java by Example: " + title
import '../styles/global.css';
import '../styles/pico.min.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
    <meta name="description" content={description != "" && description != undefined ? description : newTitle} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="color-scheme" content="light dark">
		<meta name="generator" content={Astro.generator} />
    <title>{newTitle}</title>
	</head>
	<body>
    <!-- Header -->
    <header class="container">
      <nav>
        <ul>
          <hgroup>
                <h1><a href="/" class="contrast">{newTitle}</a></h1>
          </hgroup>
        </ul>
        <ul>
          <li>
            <details class="dropdown">
              <summary role="button" class="secondary">Theme</summary>
              <ul>
                <li><a href="#" data-theme-switcher="auto">Auto</a></li>
                <li><a href="#" data-theme-switcher="light">Light</a></li>
                <li><a href="#" data-theme-switcher="dark">Dark</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </nav>
    </header>
    <!-- ./ Header -->

    <div class="container">
      <slot />
    </div>

    <!-- Footer -->
    <footer class="container">
      <small
      >By <a href="https://bernoussama.com">Oussama Bernou</a> •
        <a href="https://github.com/bernoussama/javabyexample"
          >Source</a
        ></small
      >
    </footer>
    <!-- ./ Footer -->

    <!-- Minimal theme switcher -->
    <script >
      import "../scripts/minimal-theme-switcher.js"
    </script>
	</body>
</html>
